.btn {
    font-weight: 400;
    font-size: 16px;
    width: 146px;
    height: 40px;
    border: none;
    border-radius: 7px;
    background-color: $main-color;
    transition: all .5s;
    cursor: pointer;

    &_smallFontSize {
        font-size: 13px;
    }

    &__menu {
        &_active {
            font-size: 16px;
            height: 120px;
            transform: translateX(128px) translateY(21px);
            width: 276px;
        }

        &:hover {
            background-color: $main-black;
            color: #fff;
        }
    }

    &__arrowBtn {
        width: 233px;
        height: 60px;
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            transform: translateY(0);
            transition: all .5s;
        }

        &:hover {
            background-color: #fff;

            span {
                transform: translateY(5px);
            }
        }
    }

    &__circle {
        height: 60px;
        width: 60px;
        border-radius: 50%;

        &-blackBorder {
            background-color: transparent;
            border: 1px solid #313232;
        }

        &:hover {
            background-color: #fff;
        }
    }

    &__smallCircle {
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 8px;
        line-height: 0;

        &-black {
            background-color: $main-black;
            color: white;
        }

        span {
            position: relative;
            left: 2px;
            transform: rotateZ(-90deg);
        }
    }

    &__nav {
        &_left {
            transform: rotateZ(90deg);
        }

        &_right {
            transform: rotateZ(-90deg);
        }
    }
}