.menu {
    padding: 10px 0;
    position: fixed;
    z-index: 50;
    height: 70px;
    width: 100%;
    background-color: #fff;
    font-size: 15px;
    line-height: 18px;

    &__active {
        border-bottom: 1px solid $main-color;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__logo {
        display: flex;
        align-items: center;
        margin-right: 335px;
        cursor: pointer;
    }

    &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $main-color;
        margin-right: 10px;

        img {
            position: relative;
            bottom: 2px;
        }
    }

    &__list {
        display: flex;
    }

    &__item {
        font-size: 15px;
        line-height: 18px;
        position: relative;
        overflow: hidden;

        a {
            @include textAnimation
        }

    }

    &__services {
        display: flex;
        align-items: center;
        justify-content: left;
        height: 50px;
        width: 89px;
        margin-right: 23px;
        cursor: default;

        img {
            position: relative;
            top: 1px;
            margin-left: 8px;
            transition: all .1s;
        }

        &:hover {
            img {
                transform: rotate(180deg);
            }
        }

        &_disable {
            &:hover {
                img {
                    transform: rotate(0);
                }
            }
        }
    }

    &__list {
        position: relative;

        li {
            margin-right: 40px;
        }

        &::after {
            right: 0;
            top: -26px;
            position: absolute;
            content: '';
            display: flex;
            width: 1px;
            height: 70px;
            background-color: #EEECEC;
        }
    }

    &__menuBtn {
        position: relative;
        margin-left: 23px;
        width: 32px;
        display: flex;
        justify-content: end;
        cursor: pointer;
    }

    &__serviceMenu {
        background-color: #fff;
        width: 100%;
        height: 225px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all .3s;
        position: relative;
        top: 10px;

        li {
            font-weight: 400;
            font-size: 21px;
            color: $main-black;
            margin-bottom: 15px;

            &:nth-last-child(1) {
                margin-bottom: 0;
            }
        }

        &_show {
            opacity: 1;
        }
    }

    &__close {
        opacity: 0;
        position: absolute;
        bottom: 10px;
        left: 1px;
        z-index: 50;
        transition: all .5s;
        cursor: pointer;

        span {
            display: block;
            background-color: $main-black;
            width: 28px;
            height: 2px;
            transform: rotate(45deg) translateX(2px);

            &:nth-child(2) {
                transform: rotate(-45deg) translateX(1px);
            }
        }

        &_show {
            opacity: 1;
        }
    }

    &__serviseReg {
        position: absolute;
        right: 0;
    }
}