@import './base/_variables.scss';
@import './base//mixins';
@import './base/_fonts.scss';
@import './blocks/btn';
@import './blocks/hamburger';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial Nova', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  width: 1340px;
}

.header {
  height: 70px;
}

p {
  margin: 0;
}

@import './blocks/divider';
@import './blocks/header/menu';
@import './blocks/header/dropDown';
@import './blocks/header/serviceMenu';
@import './blocks/promo';
@import './blocks/advantage';
@import './blocks/service';
@import './blocks/benefits';
@import './blocks/brands';
@import './blocks/discounts';
@import './blocks/review';